body .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight
	{
	/*background-color handles the color of the highlighted row*/
	/*color sets the color of the text*/
	background-color: #0275d8;
	color: #ffffff;
	border-color: #0267bf;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight
	{
	background-color: #0275d8;
	color: #ffffff;
	border-color: #0267bf;
}