<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!-- Score -->
      <div class="row" style="text-align: center;">
        <span [ngStyle]="{'width': '50%'}" class="badge badge-primary">{{blueScore}}</span>
        <span [ngStyle]="{'width': '50%'}" class="badge badge-danger">{{redScore}}</span>
      </div>

      <!-- Field -->
      <div class="row">
        <canvas #canvas [hidden]="showHeatmap" width="{{fieldWidth}}" height="{{fieldHeight}}" style="margin-right: auto; margin-left: auto;"></canvas>
        <div style="margin-right: auto; margin-left: auto;">
          <app-heatmap
            *ngIf="showHeatmap"
            [carLocations]="heatmapCarLocations"
          ></app-heatmap>
        </div>
      </div>

      <!-- Time -->
      <div class="row" style="margin-top: 10px;">
        {{timeDisplay}}
      </div>

      <!-- Progress bar -->
      <div class="row" style="margin-top: 10px;">
        <div id="total-prog" style="cursor:pointer; width:100%; background-color:grey;" (click)="setProgress($event)">
          <div id="prog" [ngStyle]="{'width': progressWidth + 'px'}" style="height:20px; background-color:#007bff;">
          </div>
        </div>
      </div>

      <!-- Events on progress bar -->
      <div class="row" style="margin-top: 5px;">
        <div id="events">
          <i
            *ngFor="let goal of goals"
            class="fas fa-volleyball-ball {{goal.color}}"
            [ngStyle]="{
            'margin-left': goal.offset + 'px',
            'font-weight': 'bold',
            'position': 'absolute',
            'float': 'left'
            }"></i>
        </div>
      </div>

      <!-- Menu replay -->
      <div class="row" style="margin-top: 30px;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="decreaseSpeed()" style="width: 74px;" type="button" class="btn btn-primary">Slower</button>
          <button type="button" style="width: 61px;" class="btn btn-secondary" disabled>X {{speedRatio}}</button>
          <button (click)="increaseSpeed()" style="width: 74px;" type="button" class="btn btn-primary">Faster</button>
        </div>
        <button
          (click)="pause = !pause"
          [class.disabled]="!pause"
          style="cursor: pointer; margin-left: 5px; width: 74px;" type="button" class="btn btn-primary">Pause</button>
        <button
          (click)="showBoosts = !showBoosts"
          [class.disabled]="!showBoosts"
          style="cursor: pointer; margin-left: 5px; width: 74px;" type="button" class="btn btn-primary">Boosts</button>
        <button
          (click)="path = !path"
          [class.disabled]="!path"
          style="cursor: pointer; margin-left: 5px; width: 74px;" type="button" class="btn btn-primary">Paths</button>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Scoreboard -->
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Player</th>
          <th scope="col">Score</th>
          <th scope="col">Goals</th>
          <th scope="col">Assists</th>
          <th scope="col">Saves</th>
          <th scope="col">Shots</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of reds" class="red-player">
          <td [ngStyle]="{'background-color': carColors[car.id], 'width': '20px'}"></td>
          <td>{{car.name}}</td>
          <td>{{car.scoreboard.score}}</td>
          <td>{{car.scoreboard.goals}}</td>
          <td>{{car.scoreboard.assists}}</td>
          <td>{{car.scoreboard.saves}}</td>
          <td>{{car.scoreboard.shots}}</td>
          <td>
            <button
              (click)="(showHeatmap && selectedCarIdHeatmap === car.id) ? hideHeatMap() : showHeatMap(car.id)"
              [class.disabled]="selectedCarIdHeatmap !== car.id"
              style="cursor: pointer;" type="button" class="btn btn-primary">
              <i class="fas fa-map" style="font-size: 20px;"></i>
            </button>
          </td>
        </tr>
        <tr *ngFor="let car of blues" class="blue-player">
          <td [ngStyle]="{'background-color': carColors[car.id], 'width': '20px'}"></td>
          <td>{{car.name}}</td>
          <td>{{car.scoreboard.score}}</td>
          <td>{{car.scoreboard.goals}}</td>
          <td>{{car.scoreboard.assists}}</td>
          <td>{{car.scoreboard.saves}}</td>
          <td>{{car.scoreboard.shots}}</td>
          <td (click)="showHeatMap(car.id)">
            <button
              (click)="(showHeatmap && selectedCarIdHeatmap === car.id) ? hideHeatMap() : showHeatMap(car.id)"
              [class.disabled]="selectedCarIdHeatmap !== car.id"
              style="cursor: pointer;" type="button" class="btn btn-primary">
              <i class="fas fa-map" style="font-size: 20px;"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="showHeatMap('ZigomatiX')">Heatmap</button>
    </div>
  </div>
</div>



