.blue-player {
  color: #004085;
  background-color: #cce5ff;
}

.red-player {
  color: #721c24;
  background-color: #f8d7da;
}

.goal {
  font-weight: bold !important;
  position: absolute !important;
  float: left !important;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
